[submodule "ext/zsh-users/zsh-syntax-highlighting"]
	path = ext/zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "ext/tpope/vim-pathogen"]
	path = ext/tpope/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "ext/tpope/vim-fugitive"]
	path = ext/tpope/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "ext/tpope/vim-markdown"]
	path = ext/tpope/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "ext/tpope/vim-surround"]
	path = ext/tpope/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "ext/tpope/vim-repeat"]
	path = ext/tpope/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "ext/pangloss/vim-javascript"]
	path = ext/pangloss/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "ext/sfiera/vim-emacsmodeline"]
	path = ext/sfiera/vim-emacsmodeline
	url = https://github.com/sfiera/vim-emacsmodeline
[submodule "ext/kana/vim-altr"]
	path = ext/kana/vim-altr
	url = https://github.com/kana/vim-altr
[submodule "ext/google/vim-maktaba"]
	path = ext/google/vim-maktaba
	url = https://github.com/google/vim-maktaba
[submodule "ext/google/vim-glaive"]
	path = ext/google/vim-glaive
	url = https://github.com/google/vim-glaive
[submodule "ext/google/vim-codefmt"]
	path = ext/google/vim-codefmt
	url = https://github.com/google/vim-codefmt
[submodule "ext/ap/vim-buftabline"]
	path = ext/ap/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "ext/ap/vim-you-keep-using-that-word"]
	path = ext/ap/vim-you-keep-using-that-word
	url = https://github.com/ap/vim-you-keep-using-that-word
[submodule "ext/b4winckler/vim-angry"]
	path = ext/b4winckler/vim-angry
	url = https://github.com/b4winckler/vim-angry
[submodule "ext/tikhomirov/vim-glsl"]
	path = ext/tikhomirov/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "ext/isobit/vim-caddyfile"]
	path = ext/isobit/vim-caddyfile
	url = https://github.com/isobit/vim-caddyfile
[submodule "ext/scrooloose/syntastic"]
	path = ext/scrooloose/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "ext/ConradIrwin/vim-bracketed-paste"]
	path = ext/ConradIrwin/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "ext/mafredri/zsh-async"]
	path = ext/mafredri/zsh-async
	url = https://github.com/mafredri/zsh-async
[submodule "ext/leafgarland/typescript-vim"]
	path = ext/leafgarland/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "ext/arescentral/procyon"]
	path = ext/arescentral/procyon
	url = https://github.com/arescentral/procyon.git
[submodule "ext/prabirshrestha/vim-lsp"]
	path = ext/prabirshrestha/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "ext/prabirshrestha/async.vim"]
	path = ext/prabirshrestha/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "ext/prabirshrestha/asyncomplete.vim"]
	path = ext/prabirshrestha/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "ext/prabirshrestha/asyncomplete-lsp.vim"]
	path = ext/prabirshrestha/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "ext/ekalinin/Dockerfile"]
	path = ext/ekalinin/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "ext/google/vim-jsonnet"]
	path = ext/google/vim-jsonnet
	url = https://github.com/google/vim-jsonnet.git
[submodule "ext/gn"]
	path = ext/gn
	url = https://gn.googlesource.com/gn
[submodule "vim/vim.symlink/ext/EmmaEwert/vim-rgbds"]
	path = vim/vim.symlink/ext/EmmaEwert/vim-rgbds
	url = https://github.com/EmmaEwert/vim-rgbds
